.hero {
  height: 100vh;
  display: table;
  .hero-text {
    padding-left: 20%;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    h1 {
      font-size: 9rem;
      letter-spacing: 1rem;
      margin: 1rem 0;
      font-weight: 600;
    }
    p {
      font-size: 2rem;
      letter-spacing: 2px;
      margin: 1rem 10px;
      font-weight: 500;
      line-height: 3rem;
    }
  }
}