.header {
	background-color: transparent;
	color: var(--mainWhite);
	display: flex;
	width: 100%;
	padding: 40px 40px 0;
	font-size: 1.25rem;
	font-weight: 500;
	position: fixed;
	top: 0;
	left: 0;
	justify-content: space-between;
  z-index: 999;
  text-shadow: 0px 0px 10px var(--mainBlack);
}

.header .header-links {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.header .header-links a {
	margin-left: 45px;
	cursor: pointer;
}

.header-links {
  margin-top: -100vh;
  transition: 1s all var(--mainTransition);
}

#link-to-home {
  margin-left: -100vw;
  transition: 1s all var(--mainTransition);
}

.header .social-icons {
	position: fixed;
  bottom: 0px;
  margin-bottom: -100vh;
  transition: 1s all var(--mainTransition);
}

.header .social-icons ul {
	list-style: none;
	padding: 0;
  width: 40px;
}

.header .social-icons ul li {
	margin: 2rem auto;
  text-align: center;
  position: relative;
  transition: all 0.4s var(--mainTransition);
}

.header .social-icons ul li:hover {
  transform: scale(1.5);
}

.header .social-icons ul li a:hover {
  color: #ff9e00;
}

.header .social-icons::after {
	content: " ";
	display: block;
	width: 1px;
	background-color: var(--mainWhite);
	height: 100px;
	margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .header-links, #link-to-home {
    margin-left: -100vh;
  }

  .header-links {
    margin-top: 0;
  }

  .header {
    flex-direction: column;
    padding: 16px 0 0;
    font-size: 1.5rem;
    justify-content: space-around;
    text-align: center;
    background-color: var(--darkAccentColor);
  }

  .header .header-links a {
    margin: 10px 0;
  }

  .header .social-icons {
    display: none;
  }
}