.header {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  display: flex;
  width: 100%;
  padding: 40px 40px 0;
  font-size: 20px;
  font-weight: 500;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  .header-links {
    position: relative;
    a {
      margin-left: 45px;
      cursor: pointer;
    }
  }
  .social-icons {
    position: fixed;
    bottom: 0px;
    ul {
      list-style: none;
      padding: 0;
      width: 40px;
      li {
        margin: 1.5rem auto;
        text-align: center;
      }
    }
  }
  .social-icons::after {
    content: " ";
    display: block;
    width: 1px;
    background-color: white;
    height: 100px;
    margin: 0 auto;
  }
}