.footer {
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#small-screen-icons {
  display: none;
}

@media only screen and (max-width: 600px) {
  #small-screen-icons {
    font-size: 2.2rem;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 1% 8% 8%;
  }
}