@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
$font: 'Raleway', sans-serif;

*, ::after, ::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  display: block;
}

.app {
  background: linear-gradient(75deg, #2b2b2b, black);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: $font;
}

a {
  color: white;
  text-decoration: none;
}

.hero-underline {
  margin: 0.5rem 0 3rem 10px;
  span {
    width: 100px;
    height: 4px;
    border-radius: 5px;
    background-color: orange;
    display: block;
    margin-bottom: 1rem;
  }
  #second-underline {
    margin-left: 70px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
