@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primaryColor: #5a189a;
  --secondaryColor: #ff9e00;
  --darkAccentColor: #240046;
  --lightAccentColor: #ff8500;
  --foreffectColor: rgb(73, 51, 99);
  --mainBlack: #222;
  --mainWhite: #fdfdfd;
}

*, ::after, ::before {
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 100%;
  /* scroll-snap-type: both mandatory; */
}

body {
  display: block;
  overflow-x: hidden;
  /* scroll-snap-type: both mandatory; */
}

/* section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

#projects, #footer {
  scroll-snap-align: start;
  scroll-snap-stop: always;
} */

::-webkit-scrollbar {
	display: none;
}

.app {
  /* background: url('./Assets/heroComp/SVG/backgroundAsset\ 3.svg') rgba(36, 0, 70, 0.6) no-repeat; */
  background: linear-gradient(to right, var(--darkAccentColor), #10002b);
  background-size: 120%;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: multiply;
	color: #fdfdfd;
  font-family: 'Raleway', sans-serif;
}

a,
a:active,
a:visited {
	color: var(--mainWhite);
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

a:hover {
  color: var(--mainWhite);
  text-decoration: none;
  letter-spacing: 0.1rem;
}

.hero-underline {
	margin: 0.5rem 0 3rem 0.7rem;
}

.hero-underline span {
	width: 6.25rem;
	height: 4px;
	border-radius: 5px;
	background-color: var(--secondaryColor);
	display: block;
	margin-bottom: 1rem;
}

.hero-underline #second-underline {
	margin-left: 4.5rem;
}

ul, li {
  list-style-type: none;
  padding: 0;
}

.section-head {
  display: flex;
	align-items: center;
  padding: 3rem 0;
}

.section-head h1 {
	font-size: 8rem;
	letter-spacing: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	opacity: 0.2;
  margin: 0;
}

.section-head span {
	font-size: 2rem;
	margin-left: -10%;
  border-bottom: 0.25rem solid var(--secondaryColor);
}

#go-back {
  font-size: 2rem;
  position: fixed;
  top: 15%;
  left: 2.5%;
  cursor: pointer;
  z-index: 999;
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 70%;
  }

  body:not(img) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }

  .hero {
    height: 100vh;
    margin-top: 69px;
  }

  .section-head {
    padding: 3rem 0;
  }
  
  .section-head h1 {
    font-size: 6rem;
    letter-spacing: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0.2;
    margin: 0;
  }
  
  .section-head span {
    width: max-content;
    font-size: 2rem;
    margin-top: 10%;
    margin-left: -35%;
  }

  #go-back {
    display: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}